# Dependencies

node_modules/

# Production build

dist/
build/

# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files

pids
*.pid
*.seed
*.pid.lock

# Coverage

coverage/

# OS files

.DS_Store
Thumbs.db
desktop.ini

# Editor folders

.vscode/
.idea/

# Cache

.cache/
.parcel-cache/

# Temporary files

tmp/
temp/

# Optional npm cache

.npm

# ESLint cache

.eslintcache

# TypeScript

*.tsbuildinfo

# Vercel

.vercel

# Debug archives

*.tgz
*.gz
